@media (max-width: 768px) {
  header {
    margin-left: 0%;
    margin-right: 0%;
  }
  nav.menu-container {
    width: 100%;
  }
  .post-image {
    filter: none; /* Remove grayscale filter */
  }

  .hello-image {
    margin-left: 0%;
    width: 100%;
  }
  .logo-image {
    width: 30%;
    height: 30%;
    margin-top: -50%;
  }
  .logo-container {
    margin-left: 0%;
    margin-right: 0%;
  }

  /* footer */
  footer {
    margin-left: 0%;
    margin-right: 0%;
  }
  .footer-text {
    font-size: 11px;
    margin-right: 10%;
    padding-left: 20px;
  }
  .footer-logo {
    margin-top: 3%;
  }
  .footer-icons {
    display: flex;
    margin-left: 210px;
    margin-top: -76px;
  }
  .icons-footer {
    margin: 0 13px;
  }
  .footer-socials {
    width: 10px;
    height: auto;
    display: inline-block;
  }
  .main-container {
    margin-top: 10%;
    margin-left: 0%;
    margin-right: 4%;
  }
  .left-info {
    display: none;
  }

  /* Spotify playlist */
  .spotify-embed {
    display: none;
  }
  /* Newsletter */
  .newsletter-container {
    width: 180px;
    padding: 30px;
  }
  /* Carousel */
  .title-overlay {
    width: 92%;
  }

  .modal-content {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  #scrollToTopContainer {
    position: fixed;
    bottom: 2px;
    right: 50%;
  }
}
@media (min-width: 768px) {
  .footer-icons {
    display: none;
  }
}
